@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Patrick+Hand&display=swap");

@import url("container.css");
@import url("avatar.css");
@import url("button.css");
@import url("banner.css");
@import url("card.css");

body {
	font-family: 'Patrick Hand', cursive;
	font-size: 18px;
	margin: 0px;
}
h1, h2, h3 {
	font-family: 'Merienda', cursive;
	font-weight: bold;
}
a{
	text-decoration: none;
}
